:root {
   --bg-color: #1977CC;

}

.bg-blue {
   background-color: var(--bg-color);
}

.my-tag {
   color: #2c4964;
}

#hero-section {
   background-image: url(../images/hero-bg.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   height: 100%;

}

.py-6 {
   padding: 65px 0;
}

.first-heading {
   font-size: 48px;
}

.hero-para {
   color: #444444;
}

.learn-met {
   background-color: #ffffff17;
}

.service-heading {
   margin-bottom: 40px;
}

.service-heading h2 {
   padding-bottom: 5px;
   font-size: 32px;
   position: relative;

}

.service-heading h2::after {
   content: "";
   width: 160px;
   height: 1px;
   display: block;
   background-color: gray;
   bottom: -15px;
   left: calc(50% - 80px);
   position: absolute;
}

.service-heading h2::before {
   content: "";
   width: 60px;
   height: 2px;
   background-color: var(--bg-color);
   display: block;
   bottom: -15.5px;
   left: calc(50% - 30px);
   position: absolute;
   z-index: 999;
}

.stat-icon {
   height: 46px;
   width: 46px;
   top: -20px;
   left: calc(50% - 23px);

}

.service-icon {
   width: 60px;
   height: 60px;
   box-shadow: -8px -8px 0px 0px #1977cc38;
}

.stat-service:hover {
   background-color: var(--bg-color);
   color: white;
   transition: all .5s ease;
}

.stat-service:hover h3 {
   color: white;
   transition: all .5s ease;
}

.stat-service:hover div {
   background-color: white;
   color: var(--bg-color) !important;
   box-shadow: -8px -8px 0px 0px #a9d1fa79;
   transition: all .5s ease;

}

.stat-service p {
   font-size: 14px;
}


@media screen and (min-width: 768px) {

   .nav-pills .nav-link.active,
   .nav-pills .show>.nav-link {
      background-color: transparent;
      color: var(--bg-color);
       border-right: 2px solid var(--bg-color);
      border-radius: 0;
   }
}

.tab-content {
   padding-left: 25px;
   position: relative;
   left: -2px;
}

.my-will {
   flex: 1;
}

.my-will a {
   color: black;

}
.my-will a:hover {
   color: var(--bg-color)
}

.my-will-2 {
   flex: 4;

}

@media screen and (min-width: 768px) {
   .my-will-2 { 
      border-left: 2px solid rgba(211, 211, 211, 0.393);
     
   }

} 
.left-Walter {
   width: 30%;
}
.right-Walter {
   width: 70%;
}

.right-Walter span::after {
   content: "";
   position: absolute;
   bottom: -12px;
   left: 5px;
   width: 50px;
   height: 1px;
   background-color: rgba(211, 211, 211, 0.655);
}
.para-span {
   font-size: 14px;
}
 .circle-icon {
   width: 40px;
   height: 40px;
   background-color: rgba(230, 230, 230, 0.436);
   display: flex;
   justify-content: center;
   align-items: center;

   border-radius: 50%;
 }
  .circle-icon:hover {
   background-color: var(--bg-color);

    transition: all .5s ease;
 }
 .circle-icon:hover i {
   color: white;
   transition: all .5s ease;
 }
 .my-shadow-card {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
 }
 @media  screen and (max-width:468px) {
   .my-shadow-card {
      flex-direction: column;
      align-items: center;
      text-align: center;
      
   }
   .right-Walter span::after {
   content: "";
   position: absolute;
   bottom: -12px;
   left: calc(50% - 25px);
   width: 50px;
   height: 1px;
   background-color: rgba(211, 211, 211, 0.655);
}
.socials  {
   display: flex;
   justify-content: center;
}
.right-Walter h4 {
   margin-top: 10px;
}
   
 }
